{% extends "@HncProject/User/template.html.twig" %}

{% block head %}
    <title>Login</title>
    <style>
        body{
            background: #ffffff url("{{ asset('img/backgrounds/login/login_background_5.jpg') }}") no-repeat right top;
            background-size: 100%;
        }
    </style>
{% endblock %}

{% block body_first %}
    <ul class="navbar">
        <li><a href="{{ path('hnc_project_homepage') }}" class="active"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="{{ path('login') }}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        <li><a href="{{ path('register') }}"><i class="fas fa-user-plus"></i> Register</a></li>
    </ul>
{% endblock %}

{% block body_container %}
    <div class="row" id="space_div"></div>
    <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
            <div class="home_card">
                <div class="card_header">
                    Login
                </div>
                <div id="login_form" class="card_body">
                    {{ form_start(loginForm) }}
                    {{ form_row(loginForm.email, { 'id' : 'login_email' }) }}
                    {{ form_row(loginForm.password, { 'id' : 'login_password' }) }}<br>
                </div>
                {% if code == "LOGIN_FAILED_O1" %}
                    <div class="alert alert-danger">Login failed, bad username/password.</div>
                {% elseif code == "LOGIN_SUCCEED_01" %}
                    <div class="alert alert-success">Welcome, redirecting...</div>
                {% endif %}
                <div class="home_card card_footer">
                    {{ form_row(loginForm.login, { 'attr' : { 'style' : 'float : right' } }) }}
                    <div class="btn btn-light">Reset fields</div>
                    {{ form_end(loginForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
