<!DOCTYPE html>
<html>
<head>

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/custom_style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet">
    <link href="{{ asset('css/footer.css') }}" rel="stylesheet">
    <link href="{{ asset('css/caroussel.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/all.css') }}" rel="stylesheet">
    <style>
        body{
            margin:0;
        }
    </style>
    {% block head %}


    {% endblock %}

</head>

<body>

    {% block body_first %}
    {% endblock %}
    {% block body_container %}
    {% endblock %}

<div class="card-footer text-muted" id="footer">
    FOOTER
</div><!--footer-->

<script src="{{ asset('js/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('jquery/jquery.js') }}" type="application/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js" type="application/javascript"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js" type="application/javascript"></script>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

<footer>

    {% block footer %}

    {% endblock %}

</footer>

</html>