{% extends '@HncProject/Default/template.html.twig' %}


{% block head %}

{% endblock %}

{% block body_first %}
    <div class="row">
        <div class="col-sm-9 inline ftse_datas">
                {% for share in ftse_data['ShareData'] %}
                    <div class="slide ftse_share">
                        <strong>{{ share['Sym'] }}</strong> <br>
                        {{ share['Name'] }} <br>
                        Current price: {{ share['CurPrice'] }} <br>
                        Chg: {{ share['Chg'] }}
                    </div>
                {% endfor %}
        </div><!-- col ftse_datas -->
        <div class="col-sm-3">
            <h3>FLASH NEWS:</h3>
            <div class="article_container">
                {% for article in articles %}
                    <div class="article">
                        <div class="home_card">
                            <div class="article card_header">
                                {{ article.source.name }}
                            </div>
                            <div class="card_picture">
                                <img src="{{ article.urlToImage }}" width="100%">
                            </div>
                            <div id="text_article" class="card_body">
                                <strong>{{ article.title }}</strong><br>
                                {{ article.description }}
                            </div>
                            <div class="card_footer text-center">
                                <i class="fas fa-user-edit"></i> {{ article.author }}<br>
                                <i class="fas fa-calendar-check"></i> Published on {{ article.publishedAt|date("m/d/Y") }}<br>
                                <a href="{{ article.url }}"><i class="fas fa-link"></i> See more</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block body_container %}
    <div class="row">
        TEST BODY
    </div>
{% endblock %}

{% block footer %}

{% endblock %}
