{% extends '@HncProject/Default/template.html.twig' %}


{% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Day');
            data.addColumn('number', '{{ symbol_result }}');

            data.addRows([
                {% set i = 0 %}
                {% for data in sh %}
                    {% set i = i + 1 %}
                    [{{ i }}, {{ attribute(data, "4. close") }}],
                {% endfor %}
            ]);

            var options = {
                chart: {

                },
                width: 900,
                height: 500,
                format: 'currency',
                axes: {
                    x: {
                        0: {side: 'top'}
                    }
                },
                xAxis: {
                    direction: -1
                }
            };

            var chart = new google.charts.Line(document.getElementById('line_top_x'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>

{% endblock %}

{% block body_first %}
    {% if app.session.get('user_id') == null %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info">You're not logged in, <a href="/login">Login</a>.</div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-9 inline ftse_datas">
            {% if error_code == "error_connection_01" %}
                <div class="alert alert-danger">Source unreachable, sorry.</div>
            {% else %}
                {% for share in ftse_data['ShareData'] %}
                    <div class="slide ftse_share">
                        <strong>{{ share['Sym'] }}</strong> <br>
                        {{ share['Name'] }} <br>
                        Current price: {{ share['CurPrice'] }} <br>
                        {% if share['Chg'] < 0 %}
                            Chg: <a id="Chg_neg"> {{ share['Chg'] }} <i class="fas fa-caret-down"></i></a>
                        {% elseif share['Chg'] > 0 %}
                            Chg: <a id="Chg_pos"> {{ share['Chg'] }} <i class="fas fa-caret-up"></i></a>
                        {% else %}
                            Chg: {{ share['Chg'] }}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div><!-- col ftse_datas -->
        <div class="col-sm-3">
            <h3>FLASH NEWS:</h3>
            <div class="article_container">
                {% for article in articles %}
                    <div class="article">
                        <div class="home_card">
                            <div class="article card_header">
                                {{ article.source.name }}
                            </div>
                            <div class="card_picture">
                                <img src="{{ article.urlToImage }}" width="100%">
                            </div>
                            <div id="text_article" class="card_body">
                                <center><strong>{{ article.title }}</strong></center><br>
                                {{ article.description }}
                            </div>
                            <div class="card_footer text-center">
                                <i class="fas fa-user-edit"></i> {{ article.author }}<br>
                                <i class="fas fa-calendar-check"></i> Published on {{ article.publishedAt|date("m/d/Y") }}<br>
                                <a href="{{ article.url }}"><i class="fas fa-link"></i> See more</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div><!-- row -->
{% endblock %}
{% block body_container %}
    <!--<div class="row">-->
            <div class="container-fluid" id ="body_content">
                <h3>Contents:<br></h3>
                {% if search_result_data != null %}
                    <div class="row">
                        <div class="col-lg-2">
                            Search result:<br>
                            <div class="share">
                                <div class="home_card">
                                    <div class="article card_header">
                                        {% if symbol_result != null %}
                                            {{ symbol_result }}
                                        {% endif %}
                                    </div>
                                    <div id="text_article" class="card_body">
                                        <ul>
                                            <li>Open: {{ attribute(search_result_data, "1. open") }}</li>
                                            <li>High: {{ attribute(search_result_data, "2. high") }}</li>
                                            <li>Low: {{ attribute(search_result_data, "3. low") }}</li>
                                            <li>Close: {{ attribute(search_result_data, "4. close") }}</li>
                                            <li>Volume: {{ attribute(search_result_data, "5. volume") }}</li>
                                        </ul>
                                    </div><!-- text_article -->
                                    <div class="card_footer text-center">
                                        <i class="fas fa-calendar-check"></i> {{ search_result_day }}<br>
                                    </div>
                                </div><!-- home_card -->
                            </div><!-- share -->
                        </div><!-- col-lg-2 -->
                        <div class="col-lg-4">
                            <div id="line_top_x"></div>
                        </div>
                    </div><!-- row -->
                {% else %}
                    <div class="col-lg-8">
                        <form class="form-group form-inline" style="margin-left: 5%">
                            <input class="form-control" type="text" placeholder="Search.." name="search">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                            <div class="shares_table">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">EPIC</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Share volume</th>
                                        <th scope="col">Current price</th>
                                        <th scope="col">Day change</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for share in ftse_data['ShareData'] %}
                                        <tr>
                                            <th scope="row">{{ share['Sym'] }}</th>
                                            <td>{{ share['Name'] }}</td>
                                            <td>Test</td>
                                            <td>{{ share['CurPrice'] }}$</td>
                                            {% if share['Chg'] < 0 %}
                                                <td><a id="Chg_neg"><i class="fas fa-caret-down"></i>{{ share['Chg'] }}</a></td>
                                            {% elseif share['Chg'] > 0 %}
                                                <td><a id="Chg_pos"><i class="fas fa-caret-up"></i>{{ share['Chg'] }}</a></td>
                                            {% else %}
                                                <td>N/A</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div><!--shares_table-->
                    </div><!--col-lg-8-->
                {% endif%}
            </div><!--container-fluid-->
    <!-- </div>row-->
{% endblock %}

{% block footer %}

{% endblock %}
