{% extends '@HncProject/Default/template.html.twig' %}

{% block head %}
    <title>Settings</title>
{% endblock %}

{% block body_first %}
{% if app.session.get('user_id') == null %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger">You must logged in to access this area: <a href="/login">Login</a>.</div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-lg-4">
            <h3>Current currency:</h3>
            {{ current_currency }}
        </div>
        <div class="col-lg-4">
            <h3>Change:</h3>
            <div class="form-goup">
                {{ form_start(currency_form) }}
                {{ form_row(currency_form.name, { 'attr' : { 'class' : "form-control" } }) }}
                <br>
                {{ form_row(currency_form.Currency_change, { 'attr' : { 'class' : "btn btn-primary", 'style' : "float : right" } }) }}
                {{ form_end(currency_form) }}
            </div>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-lg-4">
            <h3>My portfolio(s)</h3>
            <table class="table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User id</th>
                    <th scope="col">Amount purchased date</th>
                    <th scope="col">Amount today</th>
                </tr>
                </thead>
                <tbody>
                {% for portfolio in portfolio_list %}
                <tr>
                    <th scope="row">{{ portfolio.id }}</th>
                    <td>{{ portfolio.userId }}</td>
                    <td>{{ portfolio.totalAmount }}</td>
                    <td></td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <div class="col-lg-2">
            <h3>New portfolio</h3>
            {{ form_start(portfolio_form) }}
            {{ form_row(portfolio_form.submit, { 'attr' : { 'class' : "btn btn-primary" } }) }}
            {{ form_end(portfolio_form) }}
        </div>
    </div>
{% endif %}
{% endblock %}