<!DOCTYPE html>
<html>
<head>

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/custom_style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet">
    <link href="{{ asset('css/footer.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/all.css') }}" rel="stylesheet">
    <style>
        body{
            margin:0;
        }
    </style>
    {% block head %}

    <title>Welcome to Symfony!</title>

    {% endblock %}

</head>

<body>
{% block body_first %}
{% endblock %}
<div class="container">
    {% block body_container %}

        <h1>{{ page_title }}</h1>

        <ul id="navigation">
            {% for item in navigation %}
                <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
            {% endfor %}
        </ul>

    {% endblock %}
</div>

<div class="card-footer text-muted" id="footer">
    FOOTER
</div><!--footer-->

<link href="{{ asset('js/bootstrap.bundle.min.js') }}" rel="stylesheet">

</body>

<footer>

    {% block footer %}

    {% endblock %}

</footer>

</html>